<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #a6bbda;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .email-container {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 80%;
      max-width: 400px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
    }

    h1 {
      color: #621161;
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      margin-bottom: 20px;
    }

    .reset-link {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      background-color: #00ef4c;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 16px;
    }
  </style>
</head>

<body>
  <div class="email-container">
    <h1>SOLICITUD DE CAMBIO DE CONTRASEÑA</h1>
    <h2>HOLA</h2>
    <p>Se a dectectado una solicitud para restablecer la contraseña.</p>
    <p>Si no has solicitado el cambio de contraseña ignora este crreo.</p>
    <p>Para cambiar tu contraseña, haz clic en el siguiente enlace:</p>
    <a href="{{resetLink}}" class="reset-link" target="_blank">Cambiar Contraseña</a>
  </div>
</body>

</html>
